<%= form_for(@micropost, url: yield(:path)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "新しい投稿" %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<%= render 'shared/image_error_messages' %>
