<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "ホーム", @path %></li>
  <li><%= link_to "ヘルプ", help_path %></li>
    <% if logged_in? %>
      <li><%= link_to "ユーザー",   '#' %></li>
      <li><%= link_to "設定", '#' %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", login_path %></li>
    <% end %>
  </ul>
</nav>
